{% extends 'base.html.twig' %}
{% block title %}Search max number{% endblock %}

{% block body %}
    <h1>Search max number</h1>
    {{ form(number_form) }}

    {% if is_max_value %}
    <div style="text-align:center;">
        <table align="center" class="table table-bordered" style="width: 300px;">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Input value</th>
                    <th scope="col">Max value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{ input_value }}</td>
                <td>{{ max_value }}</td>
                </tr>
            </tbody>
        </table>     
    </div> 
    {% endif %}
{% endblock %}